@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
}

.hidden{
    display:none;
}